/*@import url('reset.css');*/
	a {
	color: #000;
	text-decoration: none;
}
	.clr {
	clear: both;
}
	.more ul {
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	padding: 20px 0px 10px 20px;
	height: 30px;
}
	.more ul li {
	float: left;
	margin: 0px 1px;
}
	.more ul li.selected a,
.more ul li.selected a:hover {
	background: #000;
	color: #fff;
	text-shadow: none;
	border-radius: 5px 5px 5px 5px;
}
	.more ul li a {
	text-shadow: 1px 1px 1px #fff8ec;
	color: #a88033;
	padding: 3px 6px;
}
	.more ul li a:hover {
	color: #59441b;
}
	.content {
	width: 1000px;
	margin: 0 auto;
}
	.content {
	width: 100%;
	position: relative;
}